/* Todo List */
.title {
    margin: 50px auto;
    text-align: center;
}

.btn-open-calendar {
    margin-bottom: 10px;
}

.new-work {
    margin: 50px 0;
}

.new-work-form {
    margin: 0 auto 30px;
    width: 80%;
}

.works {
    margin-bottom: 50px;
}

.works-table {
    display: table;
    width: 100%;
    text-align: center;
}

.table-row {
    display: table-row;
}

.table-header {
    display: table-header-group;
    background-color: #ccc;
}

.table-body {
    display: table-row-group;
}

.table-head, .table-cell {
    display: table-cell;
    width: calc(100%/6);
    padding: 10px;
}

.btn-work-delete a {
    color: #fff;
}

.cell-value {
    display: block;
}

.cell-edit-delete {
    display: -ms-inline-flexbox;
    display: inline-flex;
}

.cell-input, .cell-save-discard {
    display: none;
}

/* Calendar */
.calendar-html, .calendar-body {
    overflow: hidden; /* don't do scrollbars */
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

#calendar-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin-top: 50px;
}

.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}